$sm: 768px;
$md: 992px;
$lg: 1200px;

$split:800px;

$a-hover-color:rgb(62, 192, 243);
$post-title-color:rgb(83, 83, 83);
$post-title-hover-color: #337ab7;
$post-paginator-link-color:#858892;
$font-color: #4c4948;
$underline-color:rgb(30, 162, 238);
$tag-link-bg-color:#0085a1;
$tag-link-active-color:#20c997;