.avatar {
    display: inline-block;
    position: absolute;
    left: 45%;
    width: 100px;
    height: 100px;
    margin-right: auto;
    margin-top: 15px;
    @include max-screen() {
        height: 90px;
        width: 90px;
    }
    img {
        border-radius: 50%;
        border: 1px solid #c1b8b8;
        box-shadow: 1px 1px 1px #252525;
    }
}