@import '@/assets/css/mixin.scss';
@import '@/assets/css/variables.scss';

.menu-btn{
    @include min-screen(){
        display: none;
    }
    position: relative;
    float: right;   
    height: 30px;
    width: 30px;
    .btn-item{
        position: absolute;
        top: calc(100% / 2);
        height: 1px;
        width: 100%;
        background-color: $menu-btn-item-color;

        &:nth-child(1){
            transform: translateY(-6px) rotate(0deg);
            animation-name: first-in;
            animation-duration: 0.5s;
            animation-fill-mode: both;
        }
    
        &:nth-child(2){
            animation-name: second-in ;
            animation-fill-mode: both;
            animation-duration: 0.2s;
        }
    
        
        &:nth-child(3){
            transform: translateY(6px) rotate(0deg);
            animation-name: third-in;
            animation-duration: 0.5s;
            animation-fill-mode: both;
        }
    }
}

.btnClicked .btn-item:nth-child(1){
    animation-name: first-out;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

.btnClicked .btn-item:nth-child(2){
    animation-name: second-out;
    animation-duration: 0.2s;
    animation-fill-mode: both;
}

.btnClicked .btn-item:nth-child(3){
    animation-name: third-out;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}


@keyframes first-in{
    0% {
        transform: translateY(0px) rotate(-45deg);
    }
    100% {
        transform: translateY(-6px) rotate(0deg);
    }
}

@keyframes second-in{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes third-in{
    0% {
        transform: translateY(0px) rotate(45deg);
    }

    100%{
        transform: translateY(6px) rotate(0deg);
    }
}

@keyframes first-out{
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    100% {
        transform: translateY(0px) rotate(-45deg);
    }
}

@keyframes second-out{
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes third-out{
    0% {
        transform: translate(0px) rotate(0deg);
    }

    100% {
        transform: translateY(0px) rotate(45deg);
    }
}